[submodule "pi-mono"]
	path = references/pi-mono
	url = https://github.com/PlebeiusGaragicus/pi-mono.git
	branch = main
[submodule "references/qmd"]
	path = references/qmd
	url = https://github.com/tobi/qmd
[submodule "references/plannotator"]
	path = references/plannotator
	url = https://github.com/PlebeiusGaragicus/plannotator.git
	branch = main
